In [1]:
#Importing libraries
import numpy as np
import pandas as pd

In [10]:
#importing dataset
data = pd.read_csv('50_Startups.csv')

In [ ]:
data.head()

In [11]:
# Adding Null values

data['Administration'] = data['Administration'].sample(frac=0.9)
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   45 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [16]:
X = data.iloc[:,:-1].values
y = data.iloc[:,[-1]].values

In [17]:
#Getting rid of the NaN values using the mean method
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X[:, 1:3])
X[:, 1:3] = imputer.transform(X[:, 1:3])
print(X)

[[165349.2 136897.8 471784.1 'New York']
 [162597.7 151377.59 443898.53 'California']
 [153441.51 101145.55 407934.54 'Florida']
 [144372.41 118671.85 383199.62 'New York']
 [142107.34 91391.77 366168.42 'Florida']
 [131876.9 99814.71 362861.36 'New York']
 [134615.46 147198.87 127716.82 'California']
 [130298.13 145530.06 323876.68 'Florida']
 [120542.52 148718.95 311613.29 'New York']
 [123334.88 108679.17 304981.62 'California']
 [101913.08 110594.11 229160.95 'Florida']
 [100671.96 91790.61 249744.55 'California']
 [93863.75 127320.38 249839.44 'Florida']
 [91992.39 119779.08511111111 252664.93 'California']
 [119943.24 119779.08511111111 256512.92 'Florida']
 [114523.61 122616.84 261776.23 'New York']
 [78013.11 121597.55 264346.06 'California']
 [94657.16 145077.58 282574.31 'New York']
 [91749.16 114175.79 294919.57 'Florida']
 [86419.7 119779.08511111111 0.0 'New York']
 [76253.86 113867.3 298664.47 'California']
 [78389.47 153773.43 299737.29 'New York']
 [73994.56 122782.75 303319.26 'Florida']
 [67532.53 105751.03 304768.73 'Florida']
 [77044.01 99281.34 140574.81 'New York']
 [64664.71 139553.16 137962.62 'California']
 [75328.87 144135.98 134050.07 'Florida']
 [72107.6 127864.55 353183.81 'New York']
 [66051.52 182645.56 118148.2 'Florida']
 [65605.48 153032.06 107138.38 'New York']
 [61994.48 115641.28 91131.24 'Florida']
 [61136.38 152701.92 88218.23 'New York']
 [63408.86 129219.61 46085.25 'California']
 [55493.95 103057.49 214634.81 'Florida']
 [46426.07 157693.92 210797.67 'California']
 [46014.02 85047.44 205517.64 'New York']
 [28663.76 127056.21 201126.82 'Florida']
 [44069.95 51283.14 197029.42 'California']
 [20229.59 65947.93 185265.1 'New York']
 [38558.51 82982.09 174999.3 'California']
 [28754.33 118546.05 172795.67 'California']
 [27892.92 84710.77 164470.71 'Florida']
 [23640.93 119779.08511111111 148001.11 'California']
 [15505.73 127382.3 35534.17 'New York']
 [22177.74 154806.14 28334.72 'California']
 [1000.23 124153.04 1903.93 'New York']
 [1315.46 115816.21 297114.46 'Florida']
 [0.0 119779.08511111111 0.0 'California']
 [542.05 51743.15 0.0 'New York']
 [0.0 116983.8 45173.06 'California']]

In [20]:
#encoding categorical data to numeric
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
transformer = ColumnTransformer(transformers=[("OneHot", OneHotEncoder(), [3])], remainder='passthrough')
X = transformer.fit_transform(X.tolist())
X

array([[0.0, 0.0, 1.0, 165349.2, 136897.8, 471784.1],
       [1.0, 0.0, 0.0, 162597.7, 151377.59, 443898.53],
       [0.0, 1.0, 0.0, 153441.51, 101145.55, 407934.54],
       [0.0, 0.0, 1.0, 144372.41, 118671.85, 383199.62],
       [0.0, 1.0, 0.0, 142107.34, 91391.77, 366168.42],
       [0.0, 0.0, 1.0, 131876.9, 99814.71, 362861.36],
       [1.0, 0.0, 0.0, 134615.46, 147198.87, 127716.82],
       [0.0, 1.0, 0.0, 130298.13, 145530.06, 323876.68],
       [0.0, 0.0, 1.0, 120542.52, 148718.95, 311613.29],
       [1.0, 0.0, 0.0, 123334.88, 108679.17, 304981.62],
       [0.0, 1.0, 0.0, 101913.08, 110594.11, 229160.95],
       [1.0, 0.0, 0.0, 100671.96, 91790.61, 249744.55],
       [0.0, 1.0, 0.0, 93863.75, 127320.38, 249839.44],
       [1.0, 0.0, 0.0, 91992.39, 119779.08511111111, 252664.93],
       [0.0, 1.0, 0.0, 119943.24, 119779.08511111111, 256512.92],
       [0.0, 0.0, 1.0, 114523.61, 122616.84, 261776.23],
       [1.0, 0.0, 0.0, 78013.11, 121597.55, 264346.06],
       [0.0, 0.0, 1.0, 94657.16, 145077.58, 282574.31],
       [0.0, 1.0, 0.0, 91749.16, 114175.79, 294919.57],
       [0.0, 0.0, 1.0, 86419.7, 119779.08511111111, 0.0],
       [1.0, 0.0, 0.0, 76253.86, 113867.3, 298664.47],
       [0.0, 0.0, 1.0, 78389.47, 153773.43, 299737.29],
       [0.0, 1.0, 0.0, 73994.56, 122782.75, 303319.26],
       [0.0, 1.0, 0.0, 67532.53, 105751.03, 304768.73],
       [0.0, 0.0, 1.0, 77044.01, 99281.34, 140574.81],
       [1.0, 0.0, 0.0, 64664.71, 139553.16, 137962.62],
       [0.0, 1.0, 0.0, 75328.87, 144135.98, 134050.07],
       [0.0, 0.0, 1.0, 72107.6, 127864.55, 353183.81],
       [0.0, 1.0, 0.0, 66051.52, 182645.56, 118148.2],
       [0.0, 0.0, 1.0, 65605.48, 153032.06, 107138.38],
       [0.0, 1.0, 0.0, 61994.48, 115641.28, 91131.24],
       [0.0, 0.0, 1.0, 61136.38, 152701.92, 88218.23],
       [1.0, 0.0, 0.0, 63408.86, 129219.61, 46085.25],
       [0.0, 1.0, 0.0, 55493.95, 103057.49, 214634.81],
       [1.0, 0.0, 0.0, 46426.07, 157693.92, 210797.67],
       [0.0, 0.0, 1.0, 46014.02, 85047.44, 205517.64],
       [0.0, 1.0, 0.0, 28663.76, 127056.21, 201126.82],
       [1.0, 0.0, 0.0, 44069.95, 51283.14, 197029.42],
       [0.0, 0.0, 1.0, 20229.59, 65947.93, 185265.1],
       [1.0, 0.0, 0.0, 38558.51, 82982.09, 174999.3],
       [1.0, 0.0, 0.0, 28754.33, 118546.05, 172795.67],
       [0.0, 1.0, 0.0, 27892.92, 84710.77, 164470.71],
       [1.0, 0.0, 0.0, 23640.93, 119779.08511111111, 148001.11],
       [0.0, 0.0, 1.0, 15505.73, 127382.3, 35534.17],
       [1.0, 0.0, 0.0, 22177.74, 154806.14, 28334.72],
       [0.0, 0.0, 1.0, 1000.23, 124153.04, 1903.93],
       [0.0, 1.0, 0.0, 1315.46, 115816.21, 297114.46],
       [1.0, 0.0, 0.0, 0.0, 119779.08511111111, 0.0],
       [0.0, 0.0, 1.0, 542.05, 51743.15, 0.0],
       [1.0, 0.0, 0.0, 0.0, 116983.8, 45173.06]], dtype=object)

In [21]:
X = X.astype(float)

In [24]:
# dropping extra (3rd) column
X = np.delete(X, 2, 1)
X

array([[0.00000000e+00, 0.00000000e+00, 1.65349200e+05, 1.36897800e+05,
        4.71784100e+05],
       [1.00000000e+00, 0.00000000e+00, 1.62597700e+05, 1.51377590e+05,
        4.43898530e+05],
       [0.00000000e+00, 1.00000000e+00, 1.53441510e+05, 1.01145550e+05,
        4.07934540e+05],
       [0.00000000e+00, 0.00000000e+00, 1.44372410e+05, 1.18671850e+05,
        3.83199620e+05],
       [0.00000000e+00, 1.00000000e+00, 1.42107340e+05, 9.13917700e+04,
        3.66168420e+05],
       [0.00000000e+00, 0.00000000e+00, 1.31876900e+05, 9.98147100e+04,
        3.62861360e+05],
       [1.00000000e+00, 0.00000000e+00, 1.34615460e+05, 1.47198870e+05,
        1.27716820e+05],
       [0.00000000e+00, 1.00000000e+00, 1.30298130e+05, 1.45530060e+05,
        3.23876680e+05],
       [0.00000000e+00, 0.00000000e+00, 1.20542520e+05, 1.48718950e+05,
        3.11613290e+05],
       [1.00000000e+00, 0.00000000e+00, 1.23334880e+05, 1.08679170e+05,
        3.04981620e+05],
       [0.00000000e+00, 1.00000000e+00, 1.01913080e+05, 1.10594110e+05,
        2.29160950e+05],
       [1.00000000e+00, 0.00000000e+00, 1.00671960e+05, 9.17906100e+04,
        2.49744550e+05],
       [0.00000000e+00, 1.00000000e+00, 9.38637500e+04, 1.27320380e+05,
        2.49839440e+05],
       [1.00000000e+00, 0.00000000e+00, 9.19923900e+04, 1.19779085e+05,
        2.52664930e+05],
       [0.00000000e+00, 1.00000000e+00, 1.19943240e+05, 1.19779085e+05,
        2.56512920e+05],
       [0.00000000e+00, 0.00000000e+00, 1.14523610e+05, 1.22616840e+05,
        2.61776230e+05],
       [1.00000000e+00, 0.00000000e+00, 7.80131100e+04, 1.21597550e+05,
        2.64346060e+05],
       [0.00000000e+00, 0.00000000e+00, 9.46571600e+04, 1.45077580e+05,
        2.82574310e+05],
       [0.00000000e+00, 1.00000000e+00, 9.17491600e+04, 1.14175790e+05,
        2.94919570e+05],
       [0.00000000e+00, 0.00000000e+00, 8.64197000e+04, 1.19779085e+05,
        0.00000000e+00],
       [1.00000000e+00, 0.00000000e+00, 7.62538600e+04, 1.13867300e+05,
        2.98664470e+05],
       [0.00000000e+00, 0.00000000e+00, 7.83894700e+04, 1.53773430e+05,
        2.99737290e+05],
       [0.00000000e+00, 1.00000000e+00, 7.39945600e+04, 1.22782750e+05,
        3.03319260e+05],
       [0.00000000e+00, 1.00000000e+00, 6.75325300e+04, 1.05751030e+05,
        3.04768730e+05],
       [0.00000000e+00, 0.00000000e+00, 7.70440100e+04, 9.92813400e+04,
        1.40574810e+05],
       [1.00000000e+00, 0.00000000e+00, 6.46647100e+04, 1.39553160e+05,
        1.37962620e+05],
       [0.00000000e+00, 1.00000000e+00, 7.53288700e+04, 1.44135980e+05,
        1.34050070e+05],
       [0.00000000e+00, 0.00000000e+00, 7.21076000e+04, 1.27864550e+05,
        3.53183810e+05],
       [0.00000000e+00, 1.00000000e+00, 6.60515200e+04, 1.82645560e+05,
        1.18148200e+05],
       [0.00000000e+00, 0.00000000e+00, 6.56054800e+04, 1.53032060e+05,
        1.07138380e+05],
       [0.00000000e+00, 1.00000000e+00, 6.19944800e+04, 1.15641280e+05,
        9.11312400e+04],
       [0.00000000e+00, 0.00000000e+00, 6.11363800e+04, 1.52701920e+05,
        8.82182300e+04],
       [1.00000000e+00, 0.00000000e+00, 6.34088600e+04, 1.29219610e+05,
        4.60852500e+04],
       [0.00000000e+00, 1.00000000e+00, 5.54939500e+04, 1.03057490e+05,
        2.14634810e+05],
       [1.00000000e+00, 0.00000000e+00, 4.64260700e+04, 1.57693920e+05,
        2.10797670e+05],
       [0.00000000e+00, 0.00000000e+00, 4.60140200e+04, 8.50474400e+04,
        2.05517640e+05],
       [0.00000000e+00, 1.00000000e+00, 2.86637600e+04, 1.27056210e+05,
        2.01126820e+05],
       [1.00000000e+00, 0.00000000e+00, 4.40699500e+04, 5.12831400e+04,
        1.97029420e+05],
       [0.00000000e+00, 0.00000000e+00, 2.02295900e+04, 6.59479300e+04,
        1.85265100e+05],
       [1.00000000e+00, 0.00000000e+00, 3.85585100e+04, 8.29820900e+04,
        1.74999300e+05],
       [1.00000000e+00, 0.00000000e+00, 2.87543300e+04, 1.18546050e+05,
        1.72795670e+05],
       [0.00000000e+00, 1.00000000e+00, 2.78929200e+04, 8.47107700e+04,
        1.64470710e+05],
       [1.00000000e+00, 0.00000000e+00, 2.36409300e+04, 1.19779085e+05,
        1.48001110e+05],
       [0.00000000e+00, 0.00000000e+00, 1.55057300e+04, 1.27382300e+05,
        3.55341700e+04],
       [1.00000000e+00, 0.00000000e+00, 2.21777400e+04, 1.54806140e+05,
        2.83347200e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00023000e+03, 1.24153040e+05,
        1.90393000e+03],
       [0.00000000e+00, 1.00000000e+00, 1.31546000e+03, 1.15816210e+05,
        2.97114460e+05],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.19779085e+05,
        0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 5.42050000e+02, 5.17431500e+04,
        0.00000000e+00],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.16983800e+05,
        4.51730600e+04]])

In [30]:
#splitting the data
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.2, random_state =3)

In [35]:
#Checking the optimal value of max_depth for Decision Tree Regression
for i in np.arange(1, 9, 2):
    DTR = DecisionTreeRegressor(max_depth=i)
    DTR.fit(X_train,y_train)
    print("max_depth = ",i)
    print("Training Score =",DTR.score(X_train,y_train))
    print("TEsting Score = ",DTR.score(X_test,y_test))

max_depth =  1
Training Score = 0.6264340028069876
TEsting Score =  0.35669450173701656
max_depth =  3
Training Score = 0.9657499666378324
TEsting Score =  0.8638686541057761
max_depth =  5
Training Score = 0.9988168456744735
TEsting Score =  0.7720220112879914
max_depth =  7
Training Score = 0.999995611576857
TEsting Score =  0.7523484532827845

a max_depth of 3 is the best model without overfitting on the training data.

In [26]:
from sklearn.tree import DecisionTreeRegressor
DTR = DecisionTreeRegressor(max_depth=3)
DTR.fit(X_train,y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=3,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [34]:
#Checking the optimal value of n_estimators for Random Forest
from sklearn.ensemble import RandomForestRegressor
for i in range(2,11):
    RF=RandomForestRegressor(n_estimators=3)
    RF.fit(X_train,y_train.ravel())
    print("n_estimator = ",i)
    print("Training Score =",RF.score(X_train,y_train))
    print("TEsting Score = ",RF.score(X_test,y_test))

n_estimator =  2
Training Score = 0.9878511505569528
TEsting Score =  0.8494907503135096
n_estimator =  3
Training Score = 0.96642990132318
TEsting Score =  0.8752870493212767
n_estimator =  4
Training Score = 0.9301889606621487
TEsting Score =  0.8462019452705594
n_estimator =  5
Training Score = 0.9412512156117723
TEsting Score =  0.9143804078812297
n_estimator =  6
Training Score = 0.9762379820505408
TEsting Score =  0.8711481046262982
n_estimator =  7
Training Score = 0.9854376402383088
TEsting Score =  0.8117667263162074
n_estimator =  8
Training Score = 0.9794964589427201
TEsting Score =  0.9363875828944894
n_estimator =  9
Training Score = 0.9802677285726649
TEsting Score =  0.9012176920073421
n_estimator =  10
Training Score = 0.9770325822743922
TEsting Score =  0.8786467711408856



> Conclusion

For the given data set with only 50 data points, as we increase the max depth of the Decision Tree, it starts overfitting on the training set. This is because Decision Tree uses only one Tree. 
Random Forest overcomes this problem by creating multiple trees and implementing a voting system, thus creating a much more balanced resultant Tree. Missing data(NaN values) were replaced by imputing (method = average) i.e. replacing them with averages of their column. Dummy columns that provided no real use to the model were dropped.  

Here, keeping n_estimator as 5, i.e. 5 trees for the Random forest, brings about a satisfactory model that doesn't overfit and achieves a 3% error difference between the training and the test set.